@charset "utf-8";

#wrap {
  width: 100%;
  min-width: 1200px;
}
.Join1 .inner_box {
  width: 100%;
  margin: auto;
}

.Join1 main {
  margin-top: 60px;
  margin-bottom: 80px;
}

.Join1 h2 {
  color: #0c2461;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

/* top btn */
.Join1 .step_box {
  width: 1000px;
  height: 100px;
  margin: auto;
}
.Join1 .step_box ul {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.Join1 .step_box ul li {
  /* height: 45px;*/
  width: 230px;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #9e9e9e;
  border-radius: 7px;
  position: relative;
  /* background-color: #f2f2f2;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}

.Join1 .step_box ul li img{
  width: 60px;
  height: auto;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(1);
  z-index: 1;
}

.Join1 .step_box ul li::after{
  content:' ';
  display: block;
  width: 300px;
  height: 3px;
  background-color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* 회원가입 과정 스텝 켜지기 */
.step_box ul li.on {
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 7px;
  background-color: #7ed5dfa7; */
  color: #fa8231;
}

.Join1 .step_box ul li.on img{filter: none;}
.Join1 .step_box ul li.on::after{background-color: #fa8231;}

/* form */
#joinForm {
  width: 1000px;
  margin: 0 auto;
}

.Join1 span {
  font-weight: bold;
  margin-left: 10px;
  color: #b33939;
}

.checkBox,
.checkBox > ul {
  position: relative;
}
.checkBox > ul > li {
  float: left;
}
.checkBox > ul > li:first-child {
  width: 85%;
  padding: 15px;
  font-weight: bold;
  color: #333;
}
.checkBox > ul > li:nth-child(2) {
  position: absolute;
  font-size: 14px;
  top: 30px;
  right: 25px;
  margin-top: -12px;
}
.checkBox textarea {
  width: 96%;
  height: 150px;
  margin: 0 2% 2%;
  padding: 10px;
  background-color: #ffff;
  color: #333;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  font-size: 12px;
  line-height: 1.5;
}

/* bottom-btn*/
.foot_btn {
  width: 150px;
  height: 40px;
  margin: 40px auto 20px auto;
}
.foot_btn a {
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #fdb415 /* #34495e */;
  color: #fff;
}
.foot_btn a:hover {
  background-color: #fdb415;
}