<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>패널인증시스템 신청현황</title>
  <link rel="stylesheet" href="panel_system.css">
  <link rel="stylesheet" href="../common/common.css">
  <script src="https://kit.fontawesome.com/3e978d0353.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="wrap">
    <header>
      <div class="inner-wrap clearfix">
        <h1 class="logo">
          <img src="../../assets/logo_dzone_160x40.png" alt="headerLogo">
        </h1>
        <ul class="utill clearfix">
          <li class="call-center"><a href="#"><img src="../../assets/call-center.png"></a></li>
          <li class="self-point"><a href="#">100point</a></li>
          <li class="logout"><a href="#">로그아웃</a></li>
        </ul>
      </div>
    </header>
    <!-- header -->
    <div class="gnb">
      <div class="inner-wrap">
        <ul>
          <li><a href="#" alt="home">홈</a></li>
          <li><a href="#" alt="useinfo">이용안내</a></li>
          <li><a href="#" alt="FAQ">FAQ</a></li>
          <li><a href="#" alt="Q&A">Q&A</a></li>
          <li><a href="#" alt="계정설정">계정설정</a></li>
          <li><a href="#" alt="설문등록/현황조회">설문등록/현황조회</a></li>
          <li><a href="#" alt="포인트관리">포인트관리</a></li>
          <li class="depth1">
            <a href="#" alt="통합관리">통합관리</a>
            <ul class="depth2">
              <li><a href="#">패널인증시스템 신청현황</a></li>
              <li><a href="#">포인트 현황</a></li>
              <li><a href="#">설문승인 현황</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <main class="content cf">
      <h2>패널인증시스템 신청현황</h2>
      <div class="route_box">
        <span class="route1">통합관리</span>
        <a href="#" class="route2">패널인증시스템 신청현황</a>
      </div>
      <div class="search_box">
        <input type="text" class="search_box_input">
        <a href="#"><i class="fa fa-search fa-2x"></i></a>
      </div>
      <table class="panel_table">
        <caption>패널인증시스템 신청현황</caption>
            <colgroup>
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 150px;">
                <col style="width: 250px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 120px;">
            </colgroup>
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">업체명</th>
            <th scope="col">연락처</th>
            <th scope="col">이메일</th>
            <th scope="col">신청일</th>
            <th scope="col">상태변경일</th>
            <th scope="col">상태</th>
            <th scope="col">상태변경자</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
          <tr>
            <td>160</td>
            <td>A</td>
            <td>010-0000-0000</td>
            <td>A@A.com</td>
            <td>2021.10.28</td>
            <td>2021.10.28</td>
            <td>접수</td>
            <td>해당없음</td>
          </tr>
        </tbody>
      </table>
      <div class="controller_box">
        <a href="#" class="btn"><i class="fa fa-caret-left"></i></a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#" class="btn"><i class="fa fa-caret-right"></i></a>
      </div>
    </main>
    <footer>
      <div class="footer-box clearfix">
          <img src="../../assets/logo_dzone_footer.png" alt="f_logo">
          <p>
              서울특별시 구로구 디지털로33 55 E&C벤처드림타워 2차 1001호<br>
              COPYRIGHT(C) 2018 Digitalzone CO., LTD. ALL RIGHTS RESERVED.
          </p>
      </div>
    </footer>
    <!-- footer -->
</div>
<!-- wrap -->

</body>
</html>