@import url(../common/reset.css);

/* content */
.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content h2 {
  text-indent: -9999px;
}

/* route_box */
.route_box{
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.route1::after{
  content:">";
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-left: 20px;
  margin-right: 15px;
}

.route2{
  display: inline-block;
}

.route2:hover{
  color: #ffc107;
}

/* search_box */
.search_box {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: flex-end;
}
.search_box_input {
  border: 1px solid #b1b1b1;
  width: 320px;
  height: 60px;
  border-radius: 30px;
  padding-left: 25px;
  font-size: 24px;
  background-color: #fff;
  outline: transparent;
}

.search_box>a{
  display: block;
  width: 40px;
  height: 41px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.search_box i {
  color: #b1b1b1;
  font-size: 40px;
  line-height: 40px;
  
}

/* panel_table */
.panel_table {
  border: 1px solid #ddd;
  border-left: transparent;
  border-right: transparent;
  text-align: center;
  margin-top: 20px;
}
.panel_table tbody {
  padding: 10px 0;
}
.panel_table th {
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}
.panel_table td {
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 8px 0;
  border-top: transparent;
  border-bottom: transparent;
}
.panel_table thead th:first-child {
  border-left: transparent;
}
.panel_table thead th:last-child {
  border-right: transparent;
}
.panel_table tbody td:first-child {
  border-left: transparent;
}
.panel_table tbody td:last-child {
  border-right: transparent;
}

/* controller_box */
.controller_box {
  /* position: absolute;
  left: 50%;transform: translateX(-50%); */
  margin: 20px auto;
  line-height: 20px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.controller_box a {
  display: block;
  margin-right: 10px;
}
.controller_box .btn {
  width: 20px;
  height: 20px;
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
}
