@import url(../common/reset.css);



/* content */
.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content h2 {
  text-indent: -9999px;
}

/* route_box */
.route_box{
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-top: 20px;
}

.route1::after{
  content:">";
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-left: 20px;
  margin-right: 15px;
}

.route2{
  display: inline-block;
}

.route2:hover{
  color: #ffc107;
}



/* condition_box */
.condition_box {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.condition_box > span {
  font-weight: bold;
}

.condition_box span {
  margin-right: 10px;
}

.date_box {
  width: 340px;
  font-size: 16px;
}
.date_box > label {
  display: none;
}
.date_box input {
  padding: 3px 6px;
  outline: transparent;
  cursor: pointer;
}

.process_box {
  font-size: 16px;
}
.process_select {
  padding: 5px 8px;
  font-size: 14px;
  outline: transparent;
  cursor: pointer;
}

/* search_box */
.search_box {
  position: relative;
  width: auto;
  display: flex;
  justify-content: flex-end;
}
.search_box_input {
  border: 1px solid #999;
  padding: 8px 40px 8px 20px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #fff;
  outline: transparent;
}
.search_box i {
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.search_btn {
  background-color: #ffc107;
  border: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 7px 20px;
  font-weight: bold;
}

/* panel_table */
.panel_table {
  border: 1px solid #ddd;
  border-left: transparent;
  border-right: transparent;
  text-align: center;
  margin-top: 20px;
}
.panel_table tbody {
  padding: 10px 0;
}
.panel_table th {
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}
.panel_table td {
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 8px 0;
  border-top: transparent;
  border-bottom: transparent;
}
.panel_table thead th:first-child {
  border-left: transparent;
}
.panel_table thead th:last-child {
  border-right: transparent;
}
.panel_table tbody td:first-child {
  border-left: transparent;
}
.panel_table tbody td:last-child {
  border-right: transparent;
}

/* controller_box */
.controller_box {
  /* position: absolute;
  left: 50%;transform: translateX(-50%);
  bottom: -20px; */
  margin: 20px auto;
  line-height: 20px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.controller_box a {
  display: block;
  margin-right: 10px;
}
.controller_box .btn {
  width: 20px;
  height: 20px;
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
}
