/* 상단 */
.fileUploadbox {
  width: 100%;
  margin: auto;
  border: 2px solid #333;
}
.titlebox {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}
.titletext {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 18px 0;
  color: #fff;
}
.xbox {
  /* border-left: 1px solid #000; */
  position: relative;
  right: 10px;
  padding: 10px 0;
  color: #fff;
}
.xbox a {
  margin-right: 10px;
  padding-left: 10px;
  font-size: 30px;
  line-height: 30px;
}

/* 컨텐츠 */
.contentsbox {
  width: 80%;
  margin: 14px auto;
  display: flex;
  flex-direction: column;
}
.filebox {
  margin: 14px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.filebox span {
  align-self: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin-right: 23px;
  text-align: center;
}
.filebox .uploadName {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #333;
  border-radius: 9px;
  color: #999;
  width: 80%;
  height: 40px;
  align-self: center;
  text-indent: 20px;
  font-size: 18px;
}
.filebox label {
  display: inline-block;
  padding: 11px 26px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  background-color: #333;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: 0; left: 16px;
  z-index: 1;
}
.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 버튼 */
.btnArea {
  margin-bottom: 17px;
  display: flex;
  justify-content: flex-end;
}
.submitBtn {
  background-color: #ffc107;
  border: none;
  box-shadow: none;
  padding: 9px 26px;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 9px;
}