/* top */
.marketResearch {
  width: 100%;
  margin: 53px auto 126px;
}
.toparea{
  margin: 56px auto 41px;
}
.imgarea{
  display: flex;
  justify-content: center;
  margin: 0 auto 53px;
}
.imgarea img{
  width: 117px;
  height: 115px;
}
.txtarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txtarea h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 19px;
}
.txtarea p {
  font-size: 13px;
  padding-bottom: 20px;
}
/* chart 텍스트 */
.chartarea{}
.chartTxt {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 36px;
  width: 726px;
  height: 243px;
  background-color: #eee;
}
.result h2{
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 16px;
  margin: 28px auto 37px;
}
.resultTxt {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: auto;
  
}
.resultTxt span {
  font-size: 16px;
  padding-bottom: 20px;
}
.resultTxt:last-child span{
  padding-bottom: 39px;
}
/*도넛 차트*/ 
.donutChart {
  display: flex;
  justify-content: space-evenly;
  width: 726px;
  margin: auto;
}

/*플러그인 작대기 3개 삭제*/
.highcharts-button-symbol{
  display: none;
}
/*----------------------------------------------------------------*/
/* 설문 프로파일 */
.profile {
  width: 100%;
  margin: 0 auto 70px;
}
.step {
  margin: 74px 0 64px;
}
.stepArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin: auto;
  padding-bottom: 20px;
}
.stepArea dt{
  font-size: 17px;
}
.scrollbar{}
.stepTag {
  display: flex;
}
.tag{
  cursor: pointer;
}
.history {
  margin-bottom: 70px;
}
.resend {
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
}
.resend dt {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 21px;
}
.resend dd {
  width: 726px;
  height: 89px;
  background-color: #eee;
  display: flex;
}
.resendTxt{
  width:250px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  margin: auto;
}
.resendTxt p:last-child{
  color: #ff5907;
}

.confirm {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;
}
.confirm dt {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 21px;
}
.confirm dd {
  width: 726px;
  height: 89px;
  background-color: #eee;
  display: flex;
}
.confirmTxt{
  width:350px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  margin: auto;
}
.confirmTxt p:last-child{
  color: #ff5907;
}
/* 태그 */ 
.tag {
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 10px;
  margin-right: 7px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
}
.tag span{
  padding: 3px;
  vertical-align: middle;
}
/*.tag_x {
  margin-left: 7px;
  cursor: pointer;
}*/

/* 버튼 */
.researchBtnarea {
  display: flex;
  justify-content: center;
  margin: 0 auto 127px;
}
.modifyBtn{
  background-color: #ffc107;
  color: #333;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 162px;
  height: 52px;
  margin-right: 19px;
}
.listBtn{
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  box-shadow: none;
  border-radius: 10px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 162px;
  height: 52px;
}
