/* 타이틀 박스 */
.registerArea {
  width: 1200px;
  margin: auto;
  color: #333;
}
.titlebox {
  display: flex;
  justify-content: center;
  background-color: #ffc107;
}
.titletext {
  margin: auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  padding: 29px 0 25px;
}
/* label 숨기기 */
label {
  display: none;
}
/* 인풋 */
input:focus {outline:1px solid #ffc107;}
  
/* 컨텐츠 정렬*/
.form{
  width: fit-content;
  margin: 20px auto 0;
  padding: 20px 0;
}
.dl1,
.dl2,
.dl3,
.dl4 {
  display: flex;
  margin-bottom: 15px;
  font-size: 17px;
}
.dl5 {
  display: flex;
  margin-bottom: 40px;
  font-size: 17px;
}
.dl1 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.dl2 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.dl3 dt {
  width: 300px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  display: flex;
}
.dl3 dd {
  display: flex;
}
.dl3 dt span {
  display: inline-block;
  width: 120px;
}
.dl3 dd span {
  display: inline-block;
  width: 100px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.dl4 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
.dl4 dd {
  display: flex;
}
.dl4 dd .fileupload{
  width: 120px;
}
.dl4 dd p{
  font-size: 17px;
}
.dl5 dt {
  width: 120px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}
/* dl 길이*/
.dl1 dd input {
  width: 300px;
  height: 23px;
}
.dl2 dd input {
  width: 300px;
  height: 23px;
}
.dl2 dt input {
  height: 23px;
}
.dl2 dd input {
  height: 23px;
}
/* 단계 */
.dl6{
  display: flex;
  width:fit-content;
}
.surveyProfile {
  align-self: center;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  width: 120px;
}
.stepArea {
  display: flex;
  justify-content: flex-start;
}
.stepArea dt {
  width: 50px;
  font-size: 17px;
  line-height: 1.3;
}
.stepArea dd section {
  margin-bottom: 10px;
}
/* 선택박스 & 태그 */
.selectArea {
  display: flex;
}
.selectbox {
  margin-right: 10px;
  width: 90px;
}
select option[value=""]:disabled {
  display: none;
}
/* 가로 스크롤 */
.tagWrapper {
  display: flex;
}
/* 태그 */ 
.tagContainer{
  display: flex;
}
.tagbox {
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 10px;
  margin-right: 7px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
}
.tagtagbox span{
  padding: 3px;
  vertical-align: middle;
}

.tagX {
  margin: 0 5px;
  cursor: pointer;
  padding: 3px;
}
/* 버튼 */
.btnArea {
  display: flex;
  justify-content: flex-end;
  margin: 0 30px 20px;
}
.saveBtn {
  background-color: #ffc107;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 163px;
  height: 52px;
  margin-right: 19px;
}
.fileupload a {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 20px;
  background-color: #ffc107;
  padding: 5px 10px;
  border-radius: 10px;
}

/**/
.datearea{}
