/* 상단 */
.send-box {
  width: 100%;
  margin: auto;
}
.title-box {
  display: flex;
  justify-content: flex-end;
  background-color: #ffc107;
}
.x-box {
  background-color: #fff;
  border-radius: 50%;
  margin: 14px 31px 11px 0;
  padding: 15px 10px;
}
.x-box a {
  padding: 10px;
  font-size: 30px;
  line-height: 30px;
}
/* 인풋 */
input:focus {outline:1px solid #ffc107;}
/* 컨텐츠 */
.contents-area{width:100%;}
.headertxt-area {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin: 50px 0 70px;
}
.sub-txt {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.form-area {
  display: flex;
  justify-content: flex-start;
  border-top: 5px dashed #ccc;
  border-bottom: 5px dashed #ccc;
  padding:30px;
  margin: 34px 43px 42px;
  vertical-align: middle;
}
.form-area ul{margin-left: 93px;}
.form-area li {
  /*list-style: disc;*/
  padding-bottom: 26px;
  font-size: 18px;
}
.form-area li:first-child{
  padding-top: 42px;
}
.form-area li:last-child{
  padding-bottom: 57px;
}
.a_link{text-decoration: underline;}

/* 태그 */
.tag {
  background: inherit;
  border: 1px solid #777;
  box-shadow: none;
  border-radius: 10px;
  padding: 3px 10px;
  overflow: visible;
  font-size: 12px;
  line-height: 12px;
  color: #777;
  cursor: pointer;
}
/* 포인트 차감 안내 */
.msg-box {
  display: flex;
  justify-content: center;
  font-size: 27px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 52px;
}

/* 버튼 */
.btn-area {
  margin-right: 48px;
  display: flex;
  justify-content: flex-end;
}
.confirm-btn{
  background-color: #ffc107;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 16px 60px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 162px;
  height: 52px;
  margin-right: 19px;
  margin-bottom: 77px;
}
.cancel-btn {
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: none;
  border-radius: 10px;
  padding: 16px 60px;
  overflow: visible;
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 162px;
  height: 52px;
  margin-bottom: 77px;
}
