/* a active */
.gnb ul li a.active {
  color: #ffc107;
}

/*상단*/
.modify-box {
  width: 100%;
  margin: 20px auto 0;
  color: #333;
}
/* 인풋 */
input:focus {outline:1px solid #ffc107;}
/*파일등록*/
.fileupload-area {
  width: 200px;
}
.fileupload-btn {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 20px;
  background-color: #ffc107;
  padding: 5px 10px;
  border-radius: 10px;
}

/*설문지바로가기*/
.shortcut {
  text-decoration: underline;
  margin-left: 10px;
}

/**/
.survey-profile {
  align-self: center;
}

/* 버튼 */
