/* a active */
.gnb ul li a.active {
  color: #ffc107;
}

/**/
.modify_box {
    width: 1200px;
    margin: 20px auto 0;
    color: #333;
  }


/**/
.shortcut{text-decoration: underline;margin-left:10px;}

/**/
.survey_profile{
  align-self: center;
}

/* 버튼 */
.save_btn{margin-right: 10px;}