/* 상단 */
.transferArea {
  width: 1200px;
  margin: auto;
  border: 2px solid #333;
}
.titlebox {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}
.titletext {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 18px 0;
  color: #fff;
}
.xbox {
  position: relative;
  right: 10px;
  padding: 10px 0;
  color: #fff;
  font-size: 30px;
}
.xbox a {
  margin-right: 10px;
  padding-left: 10px;
  font-size: 30px;
  line-height: 30px;
}
/* 컨텐츠 */
.contentsBox {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.transferText {
  margin: auto;
  padding: 30px 0 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

/* 버튼 */
.btnArea {
  margin-right: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}
.confirmBtn,
.cancelBtn {
  background-color: #ffc107;
  border: none;
  box-shadow: none;
  padding: 9px 26px;
  overflow: visible;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 9px;
}
