<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문발송</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="send-box">
            <div class="title-box">
                <section class="x-box">
                    <a href="#"><i class="fa fa-times"></i></a>
                </section>
            </div>
            <div class="contents-area">
                <section class="headertxt-area">
                    <span>설문을 발송하시겠습니까?</span>
                </section>
                <div class="specification">
                    <section class="sub-txt">
                        <p>[설문명세서]</p>
                    </section>
                    <section class="form-area">
                        <ul>
                            <li><strong>조사명 :</strong>&nbsp갤럭시S21 사용자 만족도 조사</li>
                            <li><strong>설문링크 :</strong>&nbsp<a href="#" class="a_link">www.a.com</a></li>
                            <li><strong>필요샘플 수 :</strong>&nbsp500</li>
                            <li><strong>참여포인트 :</strong>&nbsp100pt</li>
                            <li>
                                <span><strong>설문기간</strong></span>
                                <label></label>
                                <input type="date"> ~ <input type="date">
                            </li>
                            <li><strong>발송패널 수 :</strong>&nbsp2,500건</li>
                            <li>
                                <span><strong>설문 프로파일 :</strong></span>
                                <button class="tag">남성</button>
                                <button class="tag">20세~39세</button>
                                <button class="tag">SKT</button>
                                <button class="tag">갤럭시S21</button>
                            </li>
                        </ul>
                    </section> 
                </div> 
                <section class="msg-box">
                    <p>총 250,000 point가 차감됩니다.</p>
                </section>
            </div><!--contents_area-->
            <div class="btn-area">
                <button class="confirm-btn">확인</button>
                <button class="cancel-btn">취소</button>
            </div>
        </div><!--send_box-->
    </main>
</body>
</html>