<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="wrap">
    <header>
        <div class="inner-wrap clearfix">
        <h1 class="logo">
            <img src="./img/logo_dzone_160x40.png" alt="headerLogo">
        </h1>
        <ul class="utill clearfix">
            <li class="call-center"><a href="#"><img src="img/call-center.png"></a></li>
            <li class="self-point"><a href="#">100point</a></li>
            <li class="logout"><a href="#">로그아웃</a></li>
        </ul>
    </div>
    </header>
    <!-- header -->
    <div class="gnb">
      <div class="inner-wrap">
        <ul>
          <li><a href="#" alt="home">홈</a><span>|</span></li>
          <li><a href="#" alt="useinfo">이용안내</a><span>|</span></li>
          <li><a href="#" alt="FAQ">FAQ</a><span>|</span></li>
          <li><a href="#" alt="Q&A">Q&A</a><span>|</span></li>
          <li><a href="#" alt="계정설정">계정설정</a><span>|</span></li>
          <li><a href="#" alt="설문등록/현황조회" class="active">설문등록/현황조회</a><span>|</span></li>
          <li><a href="#" alt="포인트관리">포인트관리</a><span>|</span></li>
          <li><a href="#" alt="통합관리">통합관리</a></li>
      </ul>
      </div> 
    </div>
    <!-- gnb -->
    <main>
      <div class="survey_area">
        <div class="topbar">
          <h2>설문등록 현황조회</h2>
          <div class="search_area">
            <section class="searchbox">
              <input type="search">
              <a href="#"><i class="fa fa-search fa-2x"></i></a>
            </section>
          </div>
          <section class="topbtn">
              <button>신규등록</button>
              <button>발송</button>
          </section>  
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">선택</th>
                <th scope="col">번호</th>
                <th scope="col">조사명</th>
                <th scope="col">요청기간</th>
                <th scope="col">필요샘플 수</th>
                <th scope="col">완료샘플 수</th>
                <th scope="col">상태</th>
                <th scope="col">등록자</th>
                <th scope="col">소속</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </th>
                <td>160</td>
                <td>갤럭시S21 사용자 만족도 조사</td>
                <td>2021.10.28 ~ 2021.11.28</td>
                <td>500</td>
                <td>0</td>
                <td>승인완료</td>
                <td>홍길동</td>
                <td>개인</td>
              </tr>
              <tr>
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </th>
                <td>159</td>
                <td>패널인증시스템 수요도 조사</td>
                <td>2021.10.25 ~ 2021.11.30</td>
                <td>500</td>
                <td>0</td>
                <td>승인완료</td>
                <td>홍길동</td>
                <td>개인</td>
              </tr>
              <tr>
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>158</td>
                <td><a href="#">비대면 시장조사 필요성 인식 조사</a></td>
                <td>2021.09.30 ~ 2021.10.25</td>
                <td>2,500</td>
                <td>1,500</td>
                <td>설문중</td>
                <td>김주리</td>
                <td>PMI</td>
              </tr>
              <tr>
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>157</td>
                <td>삼성 비스포크 냉장고 만족도 조사</td>
                <td>2021.09.15 ~ 2021.09.30</td>
                <td>3,000</td>
                <td>0</td>
                <td>승인대기</td>
                <td>전선향</td>
                <td>디지털존</td>
              </tr>
              <tr class="fin">
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>156</td>
                <td>남녀 성차별 인식 조사</td>
                <td>2021.08.27 ~ 2021.09.28</td>
                <td>300</td>
                <td>0</td>
                <td>승인거부</td>
                <td>고승원</td>
                <td>A업체</td>
              </tr>
              <tr class="fin">
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>155</td>
                <td>전국지표조사</td>
                <td>2021.08.25 ~ 2021.09.15</td>
                <td>100</td>
                <td>0</td>
                <td>승인거부</td>
                <td>김주리</td>
                <td>PMI</td>
              </tr>
              <tr class="fin">
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>154</td>
                <td>부동산 중개업 실태 조사</td>
                <td>2021.08.25 ~ 2021.08.30</td>
                <td>550</td>
                <td>550</td>
                <td>설문종료</td>
                <td>안소현</td>
                <td>B업체</td>
              </tr>
              <tr class="fin">
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>153</td>
                <td>방사선 및 방사성 동위원소 이용 실태 조사</td>
                <td>2021.08.26 ~ 2021.08.29</td>
                <td>5,000</td>
                <td>5,000</td>
                <td>설문종료</td>
                <td>홍길동</td>
                <td>개인</td>
              </tr>
              <tr class="fin">
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>152</td>
                <td>대선주자 여론 조사</td>
                <td>2021.08.25 ~ 2021.09.01</td>
                <td>10,000</td>
                <td>10,020</td>
                <td>설문종료</td>
                <td>황유희</td>
                <td>개인</td>
              </tr>
              <tr class="fin">
                <th scope="row" class="row_bottom">
                  <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                </th>
                <td>151</td>
                <td>대졸자 직업 이동 경로 조사</td>
                <td>2021.07.30 ~ 2021.08.15</td>
                <td>800</td>
                <td>800</td>
                <td>설문종료</td>
                <td>전선향</td>
                <td>디지털존</td>
              </tr>
            </tbody>
          </table>
          <section class="page_change">
            <a href="#" class="arrowkey">
              <i class="fa fa-caret-left"></i>
            </a>
            <a href="#" class="pagenum">1</a>
            <a href="#" class="pagenum">2</a>
            <a href="#" class="pagenum">3</a>
            <a href="#" class="pagenum">4</a>
            <a href="#" class="pagenum">5</a>
            <a href="#" class="arrowkey">
              <i class="fa fa-caret-right"></i>
            </a>
          </section>
      </div><!--survey_area-->
  </main><!--main-->
  <footer>
    <div class="footer-box clearfix">
        <img src="./img/logo_dzone_footer.png" alt="f_logo">
        <p>
            서울특별시 구로구 디지털로33 55 E&C벤처드림타워 2차 1001호<br>
            COPYRIGHT(C) 2018 Digitalzone CO., LTD. ALL RIGHTS RESERVED.
        </p>
    </div>
  </footer>
  <!-- footer -->
</div>
<!-- wrap -->
</body>
</html>