<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>join_3</title>

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/join_3.css">
  <link rel="stylesheet" href="css/common.css">

</head>
<body>

  <div id="wrap">

    <header>
      <div class="inner-wrap clearfix">
        <h1 class="logo">
          <img src="./img/logo_dzone_160x40.png" alt="headerLogo" />
        </h1>
        <ul class="utill clearfix">
          <li class="call-center">
            <a href="#"><img src="img/call-center.png" /></a>
          </li>
          <li class="self-point"><a href="#">point</a></li>
          <li class="logout"><a href="#">로그인</a></li>
        </ul>
      </div>
    </header>

 <!--    <div class="gnb">
      <div class="inner-wrap">
      <ul>
          <li><a href="#" alt="home">홈</a><span>|</span></li>
          <li><a href="#" alt="useinfo">이용안내</a><span>|</span></li>
          <li><a href="#" alt="FAQ">FAQ</a><span>|</span></li>
          <li><a href="#" alt="Q&A">Q&A</a><span>|</span></li>
          <li><a href="#" class="active" alt="계정설정">계정설정</a><span>|</span></li>
          <li><a href="#" alt="설문등록/현황조회">설문등록/현황조회</a><span>|</span></li>
          <li><a href="#" alt="포인트관리">포인트관리</a><span>|</span></li>
          <li><a href="#" alt="통합관리">통합관리</a></li>
      </ul>
      </div>
  </div> -->


  <main>
    <div class="inner-box">

      <h2>회원가입</h2>

      <div class="step-box">
        <ul>
            <li>Step1. 약관 동의<img src="./img/step1.png" alt="동의"></li>
            <li class="on">Step2. 정보 입력<img src="./img/step1.png" alt="입력"></li>
            <li>Step3. 가입 완료<img src="./img/step1.png" alt="완료"></li>
        </ul>
      </div>

      <div class="contents">
        <div class="contents-box">
          <img src="./img/join_fin.png" alt="체크박스">
          <div class="contents-box-p">
            <p>회원가입이 완료되었습니다.</p>
            <p>디지털존 회원이 되신 것을 진심으로 환영합니다.</p>
            <div class="btn-group">
              <a href="start.html" class="complete-btn">메인으로</a>
            </div>
          </div>
        </div>
      </div>

      

    </div>
  </main>
 

    <footer>
      <div class="footer-box clearfix">
        <img src="./img/logo_dzone_footer.png" alt="f_logo" />
        <p>
          서울특별시 구로구 디지털로33 55 E&C벤처드림타워 2차 1001호<br />
          COPYRIGHT(C) 2018 Digitalzone CO., LTD. ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>

  </div>
  
</body>
</html>