@charset "utf-8";

.Join3 {
  #wrap {
    width: 100%;
    min-width: 1200px;
  }

  .inner-box {
    width: 100%;
    margin: auto;
  }

  main {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  h2 {
    color: #0c2461;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
  }

  .step_box {
    width: 1000px;
    height: 100px;
    margin: auto;
  }
}

/* top btn */

.step_box ul {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;

  li {
    /* height: 45px;*/
    width: 230px;
    line-height: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
    border-radius: 7px;
    position: relative;

    /* background-color: #f2f2f2;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */

    img {
      width: 60px;
      height: auto;
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      filter: grayscale(1);
      z-index: 1;
    }

    &::after {
      content: ' ';
      display: block;
      width: 300px;
      height: 3px;
      background-color: #9e9e9e;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &.on {
      /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      border-radius: 7px;
      background-color: #7ed5dfa7; */
      color: #fa8231;

      img {
        filter: none;
      }

      &::after {
        background-color: #fa8231;
      }
    }
  }
}

/* 회원가입 과정 스텝 켜지기 */

/* contents */

.contents-box {
  width: 742px;
  height: 392px;
  margin: auto;
  background-color: #f7f1e3;
  margin-top: 30px;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
  }
}

.contents-box-p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;

  p:first-child {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

/* btn */

.btn-group {
  margin-top: 40px;

  .complete-btn {
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    font-size: 23px;
    text-align: center;
    margin: auto;
    border-radius: 5px;

    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    background-color: #ffc107;
    border: transparent;
    color: #fff;
  }
}