/* GENERAL */

.change,
.create,
.manage,
.mypage
{
    width: 1200px;
    margin-bottom: 100px;
}

.form-content > form {
    display: flex;
    flex-direction: column;
}

.form-inputs {
    display: flex;
    height: 40px;
    line-height: 40px;
    margin-bottom: 32px;
}

.form-label {
    width: 120px;
    font-size: 18px;
    display: block;
}

.form-inputs input {
    width: 380px;
    border: 1px solid #b1b1b1;
    border-radius: 9px;
    padding-left: 16px;
    font-size: 18px;
    outline: none;
}
.form-inputs input:focus {
    color: #333;
    background-color: #fff;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem #fff0c5;
    transition: all 0.15s ease-out;
}

.form-inputs input.readOnly {
    border: none;
    width: fit-content;
}

.error-msg {
    margin-left: 19px;
    font-size: 14px;
    color: #fdb415;
}

.error-msg::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f06a";
    margin-right: 6px;
}

.form-content > form > button {
    align-self: flex-end;
}


/* SUP TAB START */

.acc-tab {
    border-bottom: 1px solid #b1b1b1;
    margin-bottom: 72px;
    width: 100%;
}

.acc-tab > li {
    width: 235px;
    height: 68px;
    line-height: 68px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.acc-tab > li .active {
    display: block;
    background-color: #fff;
    border-radius: inherit;
    border: 1px solid #b1b1b1;
    border-bottom: transparent;
}

/* SUP TAB END */

/* ACCOUT-CHANGE */

.change form {
    width: 750px;
    margin: auto;
}

/* ACCOUT-CREATE */

.create form {
    width: 750px;
    margin: auto;
}

.userid-input {
    margin-right: 23px;
}

/* ACCOUT-MANAGE */