.Account {
    width: 90vw;
}

.acc-tab {
    border-bottom: 1px solid #b1b1b1;
    display: flex;
    margin-bottom: 72px;
}

.acc-tab > li {
    width: 235px;
    height: 68px;
    line-height: 68px;
    font-size: 22px;
    text-align: center;
    
    border-radius: 10px 10px 0 0;
}

.acc-tab > li .active {
    display: block;
    background-color: #fff;
    border-radius: inherit;
    border: 1px solid #b1b1b1;
    border-bottom: transparent;
}


.AccChange form {
    width: fit-content;
    margin: auto;
}

.AccChange .form-inputs {
    display: flex;
    height: 40px;
    line-height: 40px;
    margin-bottom: 32px;
}

.AccChange form label {
    width: 110px;
    font-size: 18px;
}

.AccChange form input {
    width: 380px;
    border: 1px solid #b1b1b1;
    border-radius: 9px;
    padding-left: 16px;
    font-size: 18px;
}



.AccChange form input.readOnly {
    border: none;
    width: fit-content;
}