.cards {
  padding: 6rem;
  background: #fff;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

p {
  padding-top: 26px;
  text-align: center;
  font-size: 18 px;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 62px 0 45px;
}

.cards-items {
  margin-bottom: 24px;
}

.cards-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 1.9px 5.7px 10.9px 2.1px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards-item-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}


.cards-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards-item-img:hover {
  transform: scale(1.1);
}

.cards-item-info {
  padding: 20px 30px 30px;
}

.cards-item-text {
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-item {
    margin-bottom: 2rem;
  }
}