
#wrap {
  width: 100%;
  min-width: 1200px;
}

main {
  width: 900px;
  margin: 100px auto 100px auto ;
  border-bottom: 1px solid #f79f1f;
}

.inner-box {
  width: 100%;
}
/* 카테고리 */
#myBtnContainer{
  width: 100%;
  height: 70px;
}
.faq .btn{
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  float: left;
  width: 24.5%;
  height: 100%; line-height: 70px;
  border-radius: 15px 15px 0 0;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-bottom: 1px solid #f79f1f;
  background-color: #fff;
  color:#ccc;
  cursor: pointer;
  
}

.faq .btn:hover {
  border: 1px solid #f79f1f;
  border-bottom: 1px solid #fff !important;
  color: #333;
}
.faq .active {
  border: 1px solid #f79f1f;
  border-bottom: 1px solid #fff !important;
  color: #333;
}

/* 필터링 */
.show {
  display: block;
}

/* 메뉴아코디언 */
.none{
  display: none;
}
.faq h3{
  width: 50px;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 50px;
}
.faq .faqContainer{
  width: 900px;
  height: 250px;
  overflow: auto;
  margin: 0;
}
.faq li {
  border-top: 1px solid #b1b1b1;
  float: left;
  width: 100%;
  position: relative;
}
.faq li h4{
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.faq li p{
  text-align: left !important;
  float: left;
  color:#333;
  width: 880px;
  height: 100px;
  background-color: #f2f2f2;
}

.faq li .fa-plus{
  position: absolute;
  right: 20px; top: 0px;
  line-height: 50px;
}
.faq ul li .q{
  color: #c23616;
  font-weight: bold;
  margin-left: 20px;
}
.faq ul li .answer{
  font-weight: bold;
}
.faq li p.acco-body {
  padding-top: 20px;
  padding-left: 100px;
  font-size: 16px;
  height: 120px;
}


