.footer-container {
  background-color: #333333;
  color: #fff;
  padding: 94px 0 140px 0;
}

.inner-wrap {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-info {
  width: fit-content;  
  color: #fff;  
  font-size: 20px;
}

.footer-info p {
  line-height: 1.75;
  margin-top: 37px;
}

.footer-sns-terms {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* SNS */

.sns-terms {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 243px;
  margin-top: 83px;
}

.social-icon-link {
    border: 1px solid #fff;
  width: 51px;
  height: 51px;
  border-radius: 50%;
}


@media screen and (max-width: 820px) {

  .btn {
    width: 100%;
  }

  .footer-container {
      display: flex;
      flex-direction: column;
  }
  .inner-wrap {
      flex-direction: column;
      width: auto;
      align-items: center;
  }
  .footer-sns-terms {
      margin-top: 30px;
  }
  .footer-info{
      width: 80%;
  }
}
