main {
  width: fit-content;
  min-height: calc(100vh - 221px);
  margin: 68px auto 147px auto;
}

/* container */
.container {
  width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* describe */
.describe {
  background-color: #ff7a3d;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 0 70px 0 95px;
}
.describe .title {
  margin-right: 5px;
}
.describe .case {
  font-size: 24px;
  font-weight: bold;
}
.describe .surveyWill img,
.describe .surveyEd img {
  margin-right: 19px;
}
.describe .surveyIng img {
  margin-right: 31px;
}

/* survey-box */
.surveyBox {
  margin-top: 61px;
  width: 100%;
}

/* survey-box radio-box */
.radioBox {
  display: flex;
  justify-content: flex-end;
}
.radioBox input {
  margin-right: 6px;
  cursor: pointer;
}
.radioBox label {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.radioBox .checkWill,
.radioBox .checkIng {
  margin-right: 40px;
}

/* survey-box table-box */
.tableBox {
  margin-top: 24px;
}
.tableBox table {
  width: 100%;
  border-bottom: 1px solid #b1b1b1;
  border-collapse: collapse;
}
.tableBox thead {
  height: 45px;
  background-color: #525c68;
  color: #fff;
  font-size: 17px;
}
.tableBox th {
  border-right: 1px solid #fff;
  padding: 13px 0 15px 0;
}
.tableBox th:last-child {
  border-right: none;
}
.tableBox tbody tr {
  border-bottom: 1px solid #333;
}
.tableBox tbody tr:last-child {
  border-bottom: 1px solid #b1b1b1;
}
.tableBox tbody td {
  padding: 23px;
  font-size: 17px;
  font-weight: 500;
  color: #333;
  text-align: center;
}
.tableBox tbody tr td:nth-child(2) a:hover{
  color: red;
  cursor: pointer;
}
.tableBox tbody .state span {
  border: 1px solid #f0932b;
  border-radius: 5px;
  color: #f0932b;
  font-size: 16px;
  text-align: center;
  padding: 10px 9px;
}

/* qnaBox의 pagination */
/* controllerBox */
.controllerBox {
  margin: 20px auto;
  line-height: 20px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.controllerBox a {
  display: block;
  margin-right: 10px;
}
.controllerBox a:hover{
  color: #ff7a3d;
}
.controllerBox .btn {
  width: 20px;
  height: 20px;
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}
.controllerBox .btn:hover{
  background-color: #fff;
  color: #ffc107;
  border: 1px solid #ffc107;
}
