main {
  width: fit-content;
  min-height: calc(100vh - 221px);
  margin: 30px auto 108px auto;
}

.pannelText {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  padding: 60px 0 44px;
  color: #0c2461;
}

.pannelDes {
  text-align: center;
  display: block;
  margin-bottom: 46px;
  color: #333;
  font-size: 17px;
}

.row {
  display: flex;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  width: fit-content;
}
.row label {
  width: 53px;
}
.row label img {
  padding-bottom: 5px;
}

.col input {
  width: 412px;
  height: 40px;
  font-size: 19px;
  font-weight: 500;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding-top: 11px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
}

.col input::-webkit-input-placeholder {
  color: #999;
}
.col input::-ms-input-placeholder {
  color: #999;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btnContainer button {
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
}
.btnContainer .btn:first-child {
  background-color: #333;
}
.btnContainer .btn:first-child:hover{
  background-color: #fff;
  border: 1.5px solid #333;
  color: #333;
}
.btnContainer .btn:last-child {
  background-color: #fff;
  border: 1.5px solid #333;
  color: #333;
}
.btnContainer .btn:last-child:hover{
  background-color: #333;
  color: #fff;
}

.btn {
  width: 151px;
  height: 38px;
  cursor: pointer;
  margin-left: 15px;
}
