
.App {
  font-family: 'Noto Sans KR', sans-serif;
}
  
  .home,
  .services,
  .products,
  .sign-up,
  .log-in,
  .FAQ,
  .terms-of-use,
  .points,
  .registration,
  .user-guide,
  .QA,
  .account,
  .general {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;/* 나중에 16px 로 변경 */
    background-color: lemonchiffon;
  }
  